<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daftar Mahasiswa</title>
</head>
<body>
    <h1>Daftar Mahasiswa</h1>
    <a href="/mahasiswa/add">Tambah Mahasiswa</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Jurusan</th>
            <th>Aksi</th>
        </tr>
        <tr th:each="mahasiswa : ${mahasiswaList}">
            <td th:text="${mahasiswa.id}"></td>
            <td th:text="${mahasiswa.nama}"></td>
            <td th:text="${mahasiswa.jurusan.namaJurusan}"></td>
            <td>
                <a th:href="@{/mahasiswa/edit/{id}(id=${mahasiswa.id})}">Edit</a>
                <a th:href="@{/mahasiswa/delete/{id}(id=${mahasiswa.id})}">Hapus</a>
            </td>
        </tr>
    </table>
</body>
</html>