<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form Mahasiswa</title>
</head>

<body>
    <h1>Form Mahasiswa</h1>
    <form th:action="${isEdit ? '/mahasiswa/edit/' + mahasiswa.id : '/mahasiswa/add'}" th:object="${mahasiswa}"
        method="post">
        <input type="hidden" th:field="*{id}">
        <label>Nama:</label>
        <input type="text" th:field="*{nama}" required>
        <br>
        <label>Jurusan:</label>
        <select th:field="*{jurusan.id}">
            <option th:each="jurusan : ${jurusanList}" th:value="${jurusan.id}" th:text="${jurusan.namaJurusan}">
            </option>
        </select>
        <br>
        <button type="submit">Simpan</button>
    </form>
</body>

</html>